body{
    background-color: antiquewhite;
    color:black;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAu3KwLcyvOxVIN-Mitod_KyLHl1YynUTt6A&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     
}

.left{
  text-align:right;

}